.Home .lander {
  padding: 100px 0;
  text-align: center;
  background-color: #FFF8F8;
  border-radius: 25px;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}
